html, body, ul, li, h1, h4, p {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

html {
	background-color: #D0D0D0;
}

li {
	list-style: none;
}

html.default {
	background-color: #F1F1F1;
}

#topbar {
	background-color: #1491F0;
	border-bottom: solid 1px #094675;
	box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.4);
}

#topbar img, #toolbar {
	float: left;
}

#topbar img {
	background-color: rgba(0, 0, 0, 0.25);
	border-right: solid 1px rgba(0, 0, 0, 0.35);
	padding: 7px;
}

#toolbar {
	border-left: solid 1px rgba(255, 255, 255, 0.3);
}

#toolbar li {
	float:left;
}

#toolbar li a, #account li a {
	display: block;
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 -1px rgba(0,0,0,0.25);
	line-height: 42px;
	padding: 0 10px;
}

#toolbar li a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

#account {
	float: right;
}

#sidebar {
	width: 200px;
	padding: 10px 0;
}

#sidebar, #calendar-view {
	float: left;
}

#calendar-view {
	margin-left: 200px;
	position: absolute;
	top: 0;
	background-color: #EEE;
	border-left: solid 1px #AAA;
	box-shadow: inset 1px 0 0 #FFF, -2px 0 5px #AAA;
}

#content {
	position: relative;
}

/* ======= Sidebar / Calendar List ====== */

#sidebar h3 {
	color: #444;
	font-family: sans-serif;
	font-size: 15px;
	margin: 5px 15px 15px 15px;
	text-shadow: 0 1px #F5F5F5;
}

#sidebar ul li {
	color: #333;
	font-size: 13px;
	padding: 4px 15px;
	height: 18px;
	position: relative;
}

#sidebar ul li span.cal-color {
	border: solid 1px #555;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
	display: block;
	height: 14px;
	margin: 1px 0 0;
	position: absolute;
	width: 14px;
}

#sidebar ul li span.cal-name {
	display: inline-block;
	margin-left: 20px;
	max-width: 160px;
	overflow: hidden;
	position: absolute;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#sidebar ul li:hover span.cal-name {
	width: 120px;
}

#sidebar ul li:hover {
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

#sidebar p {
	font-size: 12px;
	margin: 10px;
}

/* ==== Calendar List Item Dropdown ===== */

ul.cal-dropdown {
	display: none;
	float: right;
	visibility: hidden;
}

#sidebar > ul > li:hover span + ul {
	display: inline-block;
	visibility: visible;
}

ul.cal-dropdown li {
	font-size: 16px !important;
	line-height: 18px;
	padding: 4px 9px !important;
	position: relative;
	margin-top: -4px !important;
}

ul.cal-dropdown ul {
	display: none;
	position: absolute;
	top: 26px;
	right: 0;
	background-color: #FFF;
	border: solid 1px #999;
	box-shadow: 0px 1px 7px rgba(160, 160, 160, 0.9);
	width: 162px;
	padding: 2px 3px;
	z-index: 2;
}


ul.cal-dropdown ul.clicked {
	display: block;
}

ul.clicked li {
	font-size: 13px !important;
	position: static !important;
	margin: 1px 0 !important;
}

ul.clicked li:hover {
	background-color: #EEE !important;
}

/* =========== Calendar Colors ========== */

.cal-color-0 {
	background-color: #E57873;
	border: solid 1px #964F4C;
}

.cal-color-1 {
	background-color: #FFAA46;
	border: solid 1px #99652A;
}

.cal-color-2 {
	background-color: #7BD746;
	border: solid 1px #4F892D;
}

.cal-color-3 {
	background-color: #79BFF2;
	border: solid 1px #446D89;
}

.cal-color-4 {
	background-color: #0094FF;
	border: solid 1px #005999;
	color: #FFF;
}

.cal-color-5 {
	background-color: #C172E5;
	border: solid 1px #7E4B96;
	color: #FFF;
}

/* ======= Monthly Calendar View ======== */

#calendar {
	margin: 10px;
}

#calendar-title {
	background-color: #363B3F;
	color: #E2E2E2;
	display: block;
	font-size: 18px;
	line-height: 38px;
	text-align: center;
}

#calendar-title #prev {
	float: left;
}

#calendar-title #next {
	float: right;
}

#calendar-title .nav {
	color: #E2E2E2;
	text-decoration: none;
	font-size: 30px;
	padding: 0 15px;
}

#calendar-title .nav:hover {
	background-color: #515559;
}

#calendar-grid {
	display: table;
	table-layout: fixed;
	width: 100%;
}

#calendar-days, .week-days {
	background-color: #DDD;
	display: table-row;
}

#calendar-days .day-name:first-child {
	border-left: solid 1px #CCC;
}

#calendar-days .day-name:last-child {
	border-right: solid 1px #CCC;
}

#calendar-days .day-name, .week-day {
	display: table-cell;
	width: 14.2%;
}

#calendar-days .day-name span {
	display: block;
	margin: 0 auto;
	padding: 5px 0;
	text-transform: uppercase;
	text-align: center;
}

.week-days:nth-child(even) {
	background-color: #FFF;
}

.week-days:nth-child(odd) {
	background-color: #F4F4F4;
}

.week-day {
	border: solid 1px #CCC;
	border-bottom: none;
	height: 100px;
}

.week-days:last-child .week-day {
	border-bottom: solid 1px #CCC;
}

.week-day:not(:last-child) {
	border-right: none;
}
span.day-number {
	display: block;
	padding: 4px 8px;
}

div.event {
	cursor: pointer;
	font-size: 11px;
	margin: 0 1px 1px 1px;
	overflow: hidden;
	padding: 3px 0;
	text-indent: 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* =========== Button Classes =========== */

.button {
	border-radius: 3px;
	float: left;
	font-size: 13px;
	font-weight: bold;
	line-height: 28px;
	padding: 0 12px;
	text-decoration: none;
	margin-right: 8px;
}

.button-primary {
	background: linear-gradient(#4A90F9, #4485E5);
	border: solid 1px #255DB8;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
	color: #FFF;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
}

.button-primary:hover {
	background: linear-gradient(#3A80E8, #3475D6);
	border-color: #154DA8;
	cursor: pointer;
}

.button-primary:active:hover {
	background: linear-gradient(to top, #2167CF, #1853A5);
	border-color: #00348F;
	color: rgba(255, 255, 255, 0.95);
	outline: 0;
}

.button-secondary {
	background: linear-gradient(#F7F7F7, #EEE);
	border: solid 1px #CCC;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
	color: #444;
	text-shadow: 0 -1px rgba(255, 255, 255, 0.4);
}

.button-secondary:hover {
	background: linear-gradient(#E7E7E7, #DFDFDF);
	border-color: #BDBDBD;
	cursor: pointer;
}

.button-secondary:active:hover {
	background: linear-gradient(to top, #DDD, #C7C7C7);
	border-color: #A4A4A4;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
	outline: 0;
}

/* ============= Form Styles ============ */

form {
	margin: 0 48px 0 25px;
}

form ul {
	display: table;
	width: 100%;
}

form li {
	display: table-row;
	padding: 10px 0;
}

form li label {
	display: table-cell;
	font: bold 14px 'Open Sans', sans-serif;
	width: 200px;
}

form li input[type="text"],
form li select {
	padding: 6px 10px;
}

form li textarea {
	padding: 10px;
	resize: none;
}

form li input[type="text"],
form li textarea, form li select {
	border: solid 1px #D8D8D8;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	color: #333;
	display: table-cell;
	font: normal 14px 'Open Sans', sans-serif;
	margin: 10px 0;
	vertical-align: middle;
	width: 100%;
}

form li input[type='checkbox'] {
	margin: 10px 0;
}

form li input[type="text"]:focus,
form li textarea:focus,
form li select:focus {
	border-color: #5B9DD9;
	box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
	outline: 0;
}

form .button {
	margin-bottom: 30px;
	margin-top: 30px;
}

form hr {
	border: 0;
	border-bottom: solid 1px #FFF;
	border-top: solid 1px #BBB;
	width: 100%;
}

#all_day_event {
	display: inline-block;
	font: 14px 'Open Sans', sans-serif;
	margin: 0 5px;
	width: initial;
}

.read-only-field {
	background-color: #F5F5F5;
	border: solid 1px #D8D8D8;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	color: #333;
	display: table-cell;
	font: normal 14px 'Open Sans', sans-serif;
	margin: 10px 0;
	padding: 6px 10px;
	vertical-align: middle;
}

/* ============ Error Banner ============ */

.error-banner {
	font-size: 14px;
	margin: 25px;
	background-color: #E09486;
	border: solid 1px #DB5841;
}

.error-banner > div {
	padding: 1px 10px;
}

.error-banner p,
.error-banner ul {
	margin: 10px 0;
}

.error-banner li {
	list-style: inside disc;
	margin-left: 10px;
}

/* ======= Color Palette Control ======== */

.color-palette {
	display: inline-block;
	margin: 10px 1px;
}

.color-palette input[type="radio"] {
	cursor: pointer;
	height: 20px;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 20px;
}

.color-palette span {
	border: solid 1px transparent;
	display: inline-block;
	height: 20px;
	width: 20px;
	z-index: -1;
}

.color-palette input[type="radio"]:checked + span,
.color-palette input[type="radio"]:hover + span {
	border: solid 1px #000;
	box-shadow: inset 0 0 0 1px #FFF;
}

/* ===== JQuery Date Picker Control ====== */

.ui-datepicker {
	background-color: #FFF;
	border: 1px solid #DDD;
	width: 200px !important;
	font-size: 14px;
}

.ui-datepicker-calendar thead {
	border-bottom: solid 1px #EEE;
}

.ui-datepicker-calendar thead th {
	padding: .3em .3em;
	font-weight: normal !important;
}

.ui-datepicker-calendar tbody td a {
	text-align: center;
	color: #444;
	border: solid 1px transparent;
}

.ui-datepicker-calendar tbody td a:hover,
a.ui-datepicker-prev:hover,
a.ui-datepicker-next:hover {
	background-color: #E5F3FB;
	border: solid 1px #70C0E7;
}

a.ui-datepicker-prev,
a.ui-datepicker-next {
	color: #444;
	text-align: center;
	font-weight: bold;
}

.ui-datepicker-prev:before {
	content: '\25C2';
}

.ui-datepicker-next:after {
	content: '\25B8';
}

.ui-datepicker-calendar tr {
	margin: 0 5px;
}

/* ============ CSS Lightbox ============ */

div.lightbox-background {
	background-color: rgba(0,0,0,0.5);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	visibility:	hidden;
	width: 100%;
}

div.lightbox-dialog {
	background: #FFF;
	border: solid 1px #606060;
	border-bottom: none;
	bottom: 0;
	box-shadow: 0 0px 5px 1px rgba(255, 255, 255, 0.25);
	height: 172px;
	left: 0;
	margin: auto;
	position: fixed;
	right: 0;
	top: -7px;
	width: 400px;
}

div.lightbox-background:target {
	display: block;
	visibility: visible;
}

div.lightbox-dialog h2 {
	background-color: #222;
	color: #EEE;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 7px 0;
	text-align: center;
}

div.lightbox-dialog .message {
	padding: 15px 12px;
	text-align: center;
}

div.lightbox-dialog .tasklist {
	background-color: #DDD;
	border-bottom: solid 1px #606060;
	border-top: solid 1px #AAA;
	margin: 0;
	padding: 10px 12px 5px 12px;
}
div.lightbox-dialog .tasklist .button {
	box-sizing: border-box;
	display: block;
	float: none;
}

div.lightbox-dialog .tasklist .button, 
div.lightbox-dialog .tasklist input[type="submit"], 
div.lightbox-dialog .tasklist a {
	margin: 0 0 5px 0;
	text-align: center;
	width: 100%;
}

/* =========== Useful Classes =========== */

.margins {
	margin: 0 auto;
	width: 980px;
}

.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.page-heading {
	margin: 25px 25px 40px;
	font: lighter 25px 'Open Sans', sans-serif;
}