html, body, ul, li, h1, h4 {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

html {
	background-color: #EEE;
}

/* Header Styles for Homepage */
#masthead {
	background: #3C7582;
	border-bottom: solid 1px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
	min-width: 980px;
}

#top-panel {
	background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.25) );
	border-bottom: solid 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}

#top-panel nav {
	float: right;
	border-right: 0;
}

#top-panel nav li {
	float: left;
	list-style: none;
}

#top-panel nav li {
	font: 12.5px/30px sans-serif;
}

#top-panel nav li:nth-child(2) {
	color: rgba(255, 255, 255, 0.45);
	margin: 0 4px 0 3px;
}

#top-panel nav a {
	border: solid 1px transparent;
	border-top: 0;
	color: #CCC;
	display: block;
	padding: 0 10px;
	text-decoration: none;	
}

#top-panel nav a:hover {
	background-color: rgba(0, 0, 0, 0.25);
	border: solid 1px rgba(0, 0, 0, 0.25);
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	border-top: 0;
	color: #DDD;
}

#bottom-panel img {
	padding: 10px 0;
}

#bottom-panel nav {
	float: right;
	margin: 21px 0;
}

#bottom-panel nav li {
	list-style: none;
	display: inline-block;	
	font: bold 18px 'Open Sans', sans-serif;
}

#bottom-panel nav a {
	color: rgba(255, 255, 255, 0.85);
	padding: 10px;
	text-decoration: none;
}

#bottom-panel nav a:hover {
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 5px;
}

/* Useful Classes */
.clear:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.clear {
	display: block;
}

.fixed-width, .section-content {
	margin: 0 auto;
	width: 980px;
}


/* Classes for Content on Homepage */
.section-content {
	padding: 25px 0 20px 0;
}

.section-content h1,
.section-content h4 {
	color: #444;
	font-weight: lighter;
	padding: 10px 0;
	text-align: center;
}

.section-content h1 {
	font-size: 50px;
}

.section-content h4 {
	font-size: 21px;
}

.content-box {
	width: 400px;
	background-color: #FFF;
	border: solid 1px #CCC;
	border-radius: 5px;
	padding: 20px;
	display: inline-block;
	margin: 0 15px;
}

.content-box h4,
.content-box p {
	text-align: left;
	color: #444;
}

.content-box p {
	font-size: 14px;
}

/* Homepage Footer Styles */
#footer {
	background-color: #333;
	border-top: solid 1px #111;
	box-shadow: inset 0 0 0 -1px #444;
	color: #FFF;
	font-size: 12px;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

#footer a {
	color: #FFF;
}

/* Registration Page Styles */
#register {
	background-color: #FFF;
	width: 500px;
	margin: 0 auto 20px auto;
	border: solid 1px #CCC;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#registration-title {
	font: lighter 25px 'Open Sans', sans-serif;
	margin: 30px 0;
	text-align: center;
}

.form-message {
	width: 542px;
	margin: 10px auto !important;
}

/* ======== Notification Banner ========= */

.nofc {
	font-size: 14px;
	margin: 25px;
}

.nofc > div {
	padding: 1px 10px;
}

.nofc p,
.nofc ul {
	margin: 10px 0;
}

.nofc li {
	list-style: inside disc;
	margin-left: 10px;
}

.nofc-error {
	background-color: #E09486;
	border: solid 1px #DB5841;
}

.nofc-message {
	background-color: #86CBE0;
	border: solid 1px #41B7DB;
}

/* ============= Form Styles ============ */

form input[type='text'],
form input[type='email'],
form input[type='password'],
form textarea, form select {
	border: solid 1px #D8D8D8;
	box-sizing: border-box;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: #333;
	font: normal 14px 'Open Sans', sans-serif;
	padding: 8px;
	width: 100%;
}

form input[type='text']:focus,
form input[type='email']:focus,
form input[type='password']:focus,
form li textarea:focus,
form li select:focus {
	border-color: #5B9DD9;
	box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
	outline: 0;
}

form input.button {
	margin-top: 10px;
}

form input.error {
	border-color: #E96966;
}

form input.error:focus {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 105, 102, 0.6);
}

form li {
	list-style: none;
	margin: 10px 0;
}

form label {
	color: #555;
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px 0;
	width: 100%;
}

/* =========== Button Classes =========== */

.button {
	border-radius: 3px;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	line-height: 28px;
	padding: 0 12px;
	text-decoration: none;
	margin-right: 8px;
}

.button-primary {
	background: linear-gradient(#4A90F9, #4485E5);
	border: solid 1px #255DB8;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
	color: #FFF;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
}

.button-primary:hover {
	background: linear-gradient(#3A80E8, #3475D6);
	border-color: #154DA8;
	cursor: pointer;
}

.button-primary:active:hover {
	background: linear-gradient(to top, #2167CF, #1853A5);
	border-color: #00348F;
	color: rgba(255, 255, 255, 0.95);
	outline: 0;
}

.button-secondary {
	background: linear-gradient(#F7F7F7, #EEE);
	border: solid 1px #CCC;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
	color: #444;
	text-shadow: 0 -1px rgba(255, 255, 255, 0.4);
}

.button-secondary:hover {
	background: linear-gradient(#E7E7E7, #DFDFDF);
	border-color: #BDBDBD;
	cursor: pointer;
}

.button-secondary:active:hover {
	background: linear-gradient(to top, #DDD, #C7C7C7);
	border-color: #A4A4A4;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
	outline: 0;
}